.navbar li {
  cursor: pointer;
}
.navbar li::after {
  position: absolute;
  content: "";
  width: 0%;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: pink;
  transition: all ease-in-out 0.2s;
}

.navbar li:hover::after {
  width: 30%;
}
.navbar li svg {
  transition: all linear 0.2s;
}
.navbar li:hover svg.services_icon {
  transform: rotate(360deg) scale(1.1);
  /* color: #ffc0cb; */
}
.navbar li:hover svg.home_icon {
  transform: scale(1.1);
  /* color: #ffc0cb; */
}
.navbar li:hover svg.about_icon {
  transform: scale(1.5);
  /* color: #ffc0cb; */
}
