.links .link {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
}
.tab_name {
  transition: all linear 0.3s;
}
.links .link:hover span svg {
  transform: scale(1.2);
}
.links .link.active_tab span svg {
  transform: scale(1.2);
}
.width-0 {
  width: 0px;
}
.links .link span svg {
  cursor: pointer;
  transition: all ease 0.3s;
}
.links .link.active_tab {
  color: #a17d60;
}
